version: 2.1
orbs:
  python: circleci/python@2.1.1

parameters:
  rerun-failed:
    type: boolean
    default: false

jobs:
  build-and-test:
    parallelism: 4
    resource_class: small
    docker:
      - image: cimg/python:3.11.0
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run:
          name: Run tests
          command: | 
              mkdir test-results
              #  TEST_FILES=$(circleci tests glob "**/test_*.py")
              #  pytest -o junit_family=legacy --junitxml=test-results/junit.xml $TEST_FILES
              pytest --collect-only -q | grep -e "\.py" | circleci tests run --command="xargs pytest -o junit_family=legacy --junitxml=test-results/junit.xml" \
              --verbose \
              --split-by=timings
      - store_test_results:
            path: test-results
          
workflows:
  sample:
    jobs:
      - build-and-test
